.BoxAbout {
  background: #151313;
  width: 1920px;
  margin: auto;

  .BoxAboutBorder {
    color: white;
    display: flex;
    width: 1296px;
    height: 745px;
    margin: auto;

    .BoxTitle {
      h2 {
        font-family: "ReformaGroteskDemiC";
        font-style: normal;
        font-weight: 600;
        font-size: 33px;
        line-height: 140%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        width: 636px;
        margin-right: 24px;
        padding-bottom: 15px;

        &::after {
          content: url("../img/dotted.svg");
          width: 150px;
        }
      }

      p {
        font-family: "ReformaGroteskMediumC";
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.03em;
        width: 526px;
      }
    }

    .boxcontent {
      display: flex;

      .boxcontent_inside1 {
        div {
          width: 318px;
          height: 177px;
          border: 1px solid white;
          text-align: center;
          justify-content: center;
          display: flex;
          align-items: center;
          flex-direction: column;

          h3 {
            font-family: "ReformaGroteskDemiC";
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #db3138;
          }

          p {
            font-family: "ReformaGroteskDemiC";
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            max-width: 277px;
          }
        }
      }

      .boxcontent_inside2 {
        div {
          width: 318px;
          height: 177px;
          border: 1px solid white;
          text-align: center;
          justify-content: center;
          display: flex;
          align-items: center;
          flex-direction: column;

          &:first-child {
            margin-top: 40px;
          }

          h3 {
            font-family: "ReformaGroteskDemiC";
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #db3138;
          }

          p {
            font-family: "ReformaGroteskDemiC";
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            max-width: 277px;
          }
        }
      }
    }
  }
}
