.footer {
  width: 1920px;
  margin: auto;
  background: #151313;

  div {
    width: 636px;
    max-height: 494px;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2 {
      font-family: "ReformaGroteskDemiC";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 50px;

      &::after {
        content: url("../img/dotted.svg");
        width: 150px;
      }
    }

    div {
      display: flex;
      flex-direction: column;

      .footer_content1 {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;

        input[type="text"] {
          width: 306px;
          height: 47px;
          border: 1px solid #898989;
        }
        input[type="text"]:not(:last-child) {
          margin-right: 24px;
        }
      }

      .footer_content2 {
        display: flex;
        flex-direction: row;

        input[type="text"] {
          width: 526px;
          height: 150px;
          border: 1px solid #898989;
          margin-right: 70px;
        }

        ul {
          li {
            width: 40px;
            height: 40px;
            border: 1px solid #898989;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          li:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }

      .footer_content3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;

        .FooterBtn {
          font-family: "ReformaGroteskDemiC";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          height: 61px;
          text-transform: uppercase;
        }

        div {
          width: 297px;
          margin: 0;

          h4 {
            font-family: 'ReformaGroteskDemiC';
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 140%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            align-items: center;
            display: flex;
          }

          ul {
            display: flex;

            li {
                font-family: 'ReformaGroteskDemiC';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                align-items: center;
                display: flex;

              &:first-child {
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
  }
}
